[Desktop Entry]
Encoding=UTF-8
Name=Link to Afroshok | Develop - Test Driven Development with Pytest
Type=Link
URL=https://afroshok.com/articles/test-driven-development-pytest/
Icon=text-html
