[Desktop Entry]
Encoding=UTF-8
Name=Link to In Tests We Trust — TDD with Python - Code Like A Girl
Type=Link
URL=https://code.likeagirl.io/in-tests-we-trust-tdd-with-python-af69f47e6932
Icon=text-html
