[Desktop Entry]
Encoding=UTF-8
Name=Link to Unit Testing & Test-Driven Development — Python 3 Patterns, Recipes and Idioms
Type=Link
URL=https://python-3-patterns-idioms-test.readthedocs.io/en/latest/UnitTesting.html
Icon=text-html
