[Desktop Entry]
Encoding=UTF-8
Name=Link to 5 dicas para fazer um bom Code Review - Erica Bertan - Medium
Type=Link
URL=https://medium.com/@ericabertan/5-dicas-para-fazer-um-bom-code-review-2ac135b0233c
Icon=text-html
