[Desktop Entry]
Encoding=UTF-8
Name=Link to Free GitHub Tutorial - Git e Github para iniciantes | Udemy
Type=Link
URL=https://www.udemy.com/course/git-e-github-para-iniciantes/
Icon=text-html
