[Desktop Entry]
Encoding=UTF-8
Name=Link to Aula 5 - Entendendo um projeto Django - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=LndJOSwRYOM
Icon=text-html
