[Desktop Entry]
Encoding=UTF-8
Name=Link to Django Tutorial Parte 2: Criando o "esqueleto" de um site | MDN
Type=Link
URL=https://developer.mozilla.org/pt-BR/docs/Learn/Server-side/Django/skeleton_website
Icon=text-html
