[Desktop Entry]
Encoding=UTF-8
Name=Link to Django: o framework web para perfeccionistas com prazos
Type=Link
URL=https://www.infoq.com/br/presentations/django-framework-web-prazos/
Icon=text-html
