[Desktop Entry]
Encoding=UTF-8
Name=Link to Entendendo o Django
Type=Link
URL=https://www.profissionaisti.com.br/2009/04/entendendo-o-django/
Icon=text-html
