[Desktop Entry]
Encoding=UTF-8
Name=Link to Object-Oriented Programming (OOP) in Python 3 – Real Python
Type=Link
URL=https://realpython.com/python3-object-oriented-programming/
Icon=text-html
