[Desktop Entry]
Encoding=UTF-8
Name=Link to POO com Python 3 - Professor Rafael
Type=Link
URL=https://sites.google.com/site/rafaeluft/poo-com-python
Icon=text-html
