[Desktop Entry]
Encoding=UTF-8
Name=Link to Programação orientada ao objeto em Python: Como fazer composição em python
Type=Link
URL=https://professormarcolan.com.br/programacao-orientada-ao-objeto-em-python-recurso-do-composicao/
Icon=text-html
