[Desktop Entry]
Encoding=UTF-8
Name=Link to Python Object Oriented Programming
Type=Link
URL=https://www.programiz.com/python-programming/object-oriented-programming
Icon=text-html
