[Desktop Entry]
Encoding=UTF-8
Name=Link to How to write an API in 3 lines of code with Django REST framework
Type=Link
URL=https://medium.com/crowdbotics/how-to-write-an-api-in-3-lines-of-code-with-django-rest-framework-59b0971edfa4
Icon=text-html
