[Desktop Entry]
Encoding=UTF-8
Name=Link to Let’s build an API with Django REST Framework - Backticks & Tildes - Medium
Type=Link
URL=https://medium.com/backticks-tildes/lets-build-an-api-with-django-rest-framework-32fcf40231e5
Icon=text-html
