[Desktop Entry]
Encoding=UTF-8
Name=Link to O que é API? REST e RESTful? Conheça as definições e diferenças!
Type=Link
URL=https://becode.com.br/o-que-e-api-rest-e-restful/
Icon=text-html
