[Desktop Entry]
Encoding=UTF-8
Name=Link to Documentação simples e sofisticada com Sphinx
Type=Link
URL=https://www.ibm.com/developerworks/br/library/os-sphinx-documentation/index.html
Icon=text-html
