[Desktop Entry]
Encoding=UTF-8
Name=Link to Ramilificando as suas APIs | Klaus Laube
Type=Link
URL=https://klauslaube.com.br/2017/01/31/ramilificando-as-suas-apis.html
Icon=text-html
