[Desktop Entry]
Encoding=UTF-8
Name=Link to Building a Python Project - Travis CI
Type=Link
URL=https://docs.travis-ci.com/user/languages/python/
Icon=text-html
