[Desktop Entry]
Encoding=UTF-8
Name=Link to Continuous Integration With Python: An Introduction – Real Python
Type=Link
URL=https://realpython.com/python-continuous-integration/
Icon=text-html
