[Desktop Entry]
Encoding=UTF-8
Name=Link to Deploy de uma aplicação Django no Heroku - Blog da TreinaWeb
Type=Link
URL=https://www.treinaweb.com.br/blog/deploy-de-uma-aplicacao-django-no-heroku/
Icon=text-html
