[Desktop Entry]
Encoding=UTF-8
Name=Link to Deploy para desenvolvedores iniciantes: 4 passos
Type=Link
URL=https://configr.com/blog/deploy-em-4-passos-para-desenvolvedores-iniciantes/
Icon=text-html
