[Desktop Entry]
Encoding=UTF-8
Name=Link to DNS e DNSSEC - Registro.br
Type=Link
URL=https://registro.br/tecnologia/dnssec/dns-e-dnssec/
Icon=text-html
