[Desktop Entry]
Encoding=UTF-8
Name=Link to Guia para Deploy Django Python 3 - Fernando Alves
Type=Link
URL=https://fernandofreitasalves.com/guia-para-deploy-django-python/
Icon=text-html
