[Desktop Entry]
Encoding=UTF-8
Name=Link to NIC.br - Núcleo de Informação e Coordenação do Ponto BR - Início
Type=Link
URL=https://nic.br/
Icon=text-html
