[Desktop Entry]
Encoding=UTF-8
Name=Link to The uWSGI project — uWSGI 2.0 documentation
Type=Link
URL=https://uwsgi-docs.readthedocs.io/en/latest/index.html
Icon=text-html
