[Desktop Entry]
Encoding=UTF-8
Name=Link to Introduction to Distributed System Design - Google Code University - Google Code
Type=Link
URL=http://www.hpcs.cs.tsukuba.ac.jp/~tatebe/lecture/h23/dsys/dsd-tutorial.html
Icon=text-html
