[Desktop Entry]
Encoding=UTF-8
Name=Link to REST Security
Type=Link
URL=https://cheatsheetseries.owasp.org/cheatsheets/REST_Security_Cheat_Sheet.html
Icon=text-html
