[Desktop Entry]
Encoding=UTF-8
Name=Link to Tutorial Django Parte 7: Sessões | MDN
Type=Link
URL=https://developer.mozilla.org/pt-BR/docs/Learn/Server-side/Django/Sess%C3%B5es
Icon=text-html
