[Desktop Entry]
Encoding=UTF-8
Name=Link to Um pouco do protocolo HTTP [Artigo]
Type=Link
URL=https://www.vivaolinux.com.br/artigo/Um-pouco-do-protocolo-HTTP?pagina=1
Icon=text-html
