[Desktop Entry]
Encoding=UTF-8
Name=Link to Web API Security | Best Practices for SOAP and REST API | Imperva
Type=Link
URL=https://www.imperva.com/learn/application-security/web-api-security/
Icon=text-html
