[Desktop Entry]
Encoding=UTF-8
Name=Link to What is XSS | Stored Cross Site Scripting Example | Imperva
Type=Link
URL=https://www.imperva.com/learn/application-security/cross-site-scripting-xss-attacks/
Icon=text-html
