[Desktop Entry]
Encoding=UTF-8
Name=Link to How to Write Beautiful Python Code With PEP 8 – Real Python
Type=Link
URL=https://realpython.com/python-pep8/
Icon=text-html
