[Desktop Entry]
Encoding=UTF-8
Name=Link to Intermediate Python — Python Tips 0.1 documentation
Type=Link
URL=https://book.pythontips.com/en/latest/
Icon=text-html
