[Desktop Entry]
Encoding=UTF-8
Name=Link to Python Debugging With Pdb – Real Python
Type=Link
URL=https://realpython.com/python-debugging-pdb/
Icon=text-html
