[Desktop Entry]
Encoding=UTF-8
Name=Link to Strings and Character Data in Python – Real Python
Type=Link
URL=https://realpython.com/python-strings/
Icon=text-html
