[Desktop Entry]
Encoding=UTF-8
Name=Link to Caching in Django With Redis – Real Python
Type=Link
URL=https://realpython.com/caching-in-django-with-redis/
Icon=text-html
