[Desktop Entry]
Encoding=UTF-8
Name=Link to Django ORM Optimization Tips - concise coder
Type=Link
URL=http://concisecoder.io/2018/11/04/django-orm-optimization-tips/
Icon=text-html
