[Desktop Entry]
Encoding=UTF-8
Name=Link to Django Models: O Guia "Definitivo" das Boas Práticas — Moacir Moda
Type=Link
URL=https://moacirmoda.com/django-models-o-guia-definitivo-das-boas-praticas/
Icon=text-html
