[Desktop Entry]
Encoding=UTF-8
Name=Link to Django ORM Relationships Cheat Sheet | Hacker Noon
Type=Link
URL=https://hackernoon.com/django-orm-relationships-cheat-sheet-14433d6cf68c
Icon=text-html
