[Desktop Entry]
Encoding=UTF-8
Name=Link to Visualizando query SQL a partir do ORM Django - Beatriz Uezu - Medium
Type=Link
URL=https://medium.com/@beatrizuezu/visualizando-query-sql-a-partir-do-orm-django-5771370a9c55
Icon=text-html
